.sensortable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.sensortable td,
.sensortable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.sensortable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.sensortable tr:hover {
    background-color: #ddd;
}

.sensortable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.refresh-button {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.refresh-button--loading {
    animation: spin 1s linear infinite;

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}